Telegram → 4 Video Generators copy (3).json
{
  "name": "Telegram → 4 Video Generators copy",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3936,
        1320
      ],
      "id": "83284a70-5ce4-4231-b141-a89fa6074fd1",
      "name": "Telegram Trigger1",
      "webhookId": "365ffa6d-1385-4f2a-8eec-a99a924d0076",
      "credentials": {
        "telegramApi": {
          "id": "3123",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ea98754-0f71-4f41-963e-a38dc3c5ccfb",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2144,
        -840
      ],
      "id": "045e1c55-f232-4eea-b137-7c21bcd22501",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -2592,
        -192
      ],
      "id": "3a6b681f-2535-43a6-a7ba-7e55ae59f7ff",
      "name": "Extract from File1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "890fd4e1-00ef-4c2c-9f60-cc3170e0055f",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.photo }}",
              "rightValue": "https",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2816,
        1320
      ],
      "id": "dd0bb6bb-cf2e-4351-a746-19f244df0473",
      "name": "If5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"openai/sora-2/image-to-video-developer\",\n    \"duration\": 1,\n    \"image\": \"{{ $json.data }}\",\n    \"prompt\": \"{{ $('Edit Fields').item.json.scenes[0].prompt }}\",\n    \"size\": \"720*1280\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2368,
        -840
      ],
      "id": "5fe78c15-824c-4a27-a4cf-b5f7cb04c146",
      "name": "SORA POST2",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "23123",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $json.data.model }}"
        }
      },
      "id": "1b178913-cc27-44c7-a53e-43f4eb8ac548",
      "name": "Send Videos to Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        96,
        552
      ],
      "webhookId": "8746bcb1-b81a-45bb-ac03-d2aa0291ece4",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "23342",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1920,
        -840
      ],
      "id": "262d4527-8c16-4abd-ad14-1b08ddb503ae",
      "name": "Wait1",
      "webhookId": "0fb9be7f-5cd7-495f-8daf-6983ded95964"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d2ac574-1f2b-421b-8a91-63a5ff6eebed",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        -912
      ],
      "id": "e992a6f0-52a2-4dc0-8e0f-e5de1d6acb43",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0259b943-3bbf-4655-9f60-3435028d77bf",
              "leftValue": "={{ $('Get Request').item.json.data.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        -744
      ],
      "id": "06a0ba2d-36e5-4c4f-84c7-525509499e31",
      "name": "If4"
    },
    {
      "parameters": {
        "url": "={{ $json.data.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1696,
        -912
      ],
      "id": "150863c1-70c4-4573-b8c0-79e2adb089bb",
      "name": "Get Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "instructions": "Remove line breaks from 'message.caption' or 'message.text' and replace them with normal spaces and return it as a variable 'prompt'.",
        "codeGeneratedForPrompt": "Remove line breaks from 'message.caption' or 'message.text' and replace them with normal spaces and return it as a variable 'prompt'.",
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  let message = item?.json?.message?.caption || item?.json?.message?.text;\n  if (message) {\n    message = message.replace(/\\n/g, \" \");\n  }\n  item.json.prompt = message;\n  return item;\n});\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.aiTransform",
      "typeVersion": 1,
      "position": [
        -3712,
        1320
      ],
      "id": "80626838-342b-4582-8f1b-75beb64d1de6",
      "name": "AI Transform"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"openai/sora-2/text-to-video-developer\",\n    \"duration\": 1,\n    \"image\": \"{{ $json.data }}\",\n    \"prompt\": \"{{ $('Edit Fields').item.json.scenes[0].prompt }}\",\n    \"size\": \"720*1280\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2592,
        1320
      ],
      "id": "438a3863-ad05-4f12-b860-793575225765",
      "name": "SORA POST1",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"openai/sora-2/image-to-video-developer\",\n    \"duration\": 1,\n    \"image\": \"{{ $json.data }}\",\n    \"prompt\": \"{{ $('Edit Fields').item.json.scenes[1].prompt }}\",\n    \"size\": \"720*1280\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2368,
        -408
      ],
      "id": "14e833bb-7f56-46ef-9e97-091e124f9104",
      "name": "SORA POST",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"openai/sora-2/image-to-video-developer\",\n    \"duration\": 1,\n    \"image\": \"{{ $json.data }}\",\n    \"prompt\": \"{{ $('Edit Fields').item.json.scenes[2].prompt }}\",\n    \"size\": \"720*1280\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2368,
        24
      ],
      "id": "c1ff680e-bc15-403b-b0f9-15a2d2782696",
      "name": "SORA POST3",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"openai/sora-2/image-to-video-developer\",\n    \"duration\": 1,\n    \"image\": \"{{ $json.data }}\",\n    \"prompt\": \"{{ $('Edit Fields').item.json.scenes[3].prompt }}\",\n    \"size\": \"720*1280\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2368,
        456
      ],
      "id": "0c6216e0-542c-4d00-b442-4fbf3fdbb6d1",
      "name": "SORA POST4",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"openai/sora-2/text-to-video-developer\",\n    \"duration\": 1,\n    \"image\": \"{{ $json.data }}\",\n    \"prompt\": \"{{ $('Edit Fields').item.json.scenes[1].prompt }}\",\n    \"size\": \"720*1280\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2592,
        888
      ],
      "id": "5d598f40-02ce-4027-875d-c6544ca5a76a",
      "name": "SORA POST5",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"openai/sora-2/text-to-video-developer\",\n    \"duration\": 1,\n    \"image\": \"{{ $json.data }}\",\n    \"prompt\": \"{{ $('Edit Fields').item.json.scenes[2].prompt }}\",\n    \"size\": \"720*1280\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2592,
        1752
      ],
      "id": "29378f05-dddb-4487-8141-e8a4f8bbc333",
      "name": "SORA POST6",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"model\": \"openai/sora-2/text-to-video-developer\",\n    \"duration\": 1,\n    \"image\": \"{{ $json.data }}\",\n    \"prompt\": \"{{ $('Edit Fields').item.json.scenes[3].prompt }}\",\n    \"size\": \"720*1280\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2592,
        2184
      ],
      "id": "80b2e58e-21f5-40eb-aabd-4c8e96dd548c",
      "name": "SORA POST7",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"openai/gpt-4.1-nano-developer\",\n    \"input\": [\n        {\n            \"role\": \"user\",\n            \"content\": \"You are a video prompt engineer \\n Split the input prompt into exactly 4 sequential video prompts.\\n Each prompt must:\\n - Be visually continuous\\n- Maintain same style, product, lighting\\n- End naturally for stitching\\n No explanations. \\n No markdown. \\n No extra text.\\n Here is the prompt: {{ $json.prompt }}  \\n Example Output: {\\n  'scenes': [\\n  { 'id': 1, 'prompt': 'Scene 1...' },\\n  { 'id': 2, 'prompt': 'Scene 2...' },\\n  { 'id': 3, 'prompt': 'Scene 3...' },\\n   { 'id': 4, 'prompt': 'Scene 4...' }  ]} \\n Return ONLY valid JSON.\"\n        }\n    ],\n    \"max_output_tokens\": 1500,\n    \"temperature\": 1,\n    \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3488,
        1248
      ],
      "id": "6fa03973-e077-414a-ae60-7289ab0198f4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.output[0].content[0].text) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3264,
        1248
      ],
      "id": "ca442c4b-2fd0-4606-99c5-e1220f3e63d9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "command": "cd /home/node/.n8n-files && echo -e \"file 'video0.mp4'\\nfile 'video1.mp4'\\nfile 'video2.mp4'\\nfile 'video3.mp4'\" > videos.txt && ffmpeg -f concat -safe 0 -i videos.txt -c copy output.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -352,
        552
      ],
      "id": "dce610b6-78f3-4868-b864-26be296fed87",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/video0.mp4",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1024,
        -960
      ],
      "id": "589c34d0-0c80-4264-af2c-d2d68d5ef966",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/output.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -128,
        552
      ],
      "id": "630823b8-3afc-4eea-b89e-94568d6d5fcb",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3040,
        1320
      ],
      "id": "7d98ee38-98e7-420b-988f-59201ce732d7",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "={{ $json.data.outputs[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1248,
        -960
      ],
      "id": "bbcca881-05fd-493d-85cf-769bb1918b77",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "command": "rm -rf /home/node/.n8n-files/*"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        320,
        552
      ],
      "id": "37978c6f-7ef0-439c-8b30-f7511da069db",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ea98754-0f71-4f41-963e-a38dc3c5ccfb",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2144,
        -408
      ],
      "id": "ddfa0234-65da-4bd8-b4aa-afee4f815c7a",
      "name": "Filter"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1920,
        -408
      ],
      "id": "5e5f403f-0f14-4718-a5d8-6c6400b42bef",
      "name": "Wait",
      "webhookId": "0fb9be7f-5cd7-495f-8daf-6983ded95964"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d2ac574-1f2b-421b-8a91-63a5ff6eebed",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        -480
      ],
      "id": "2ed2e46b-90db-497a-a969-0f3c2bc54fc7",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0259b943-3bbf-4655-9f60-3435028d77bf",
              "leftValue": "={{ $('Get Request1').item.json.data.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        -312
      ],
      "id": "fa87453c-e246-476e-9079-43b1198ba50e",
      "name": "If6"
    },
    {
      "parameters": {
        "url": "={{ $json.data.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1696,
        -480
      ],
      "id": "5f63b836-5fc9-4930-89ba-8eab583f83f5",
      "name": "Get Request1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/video1.mp4",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1024,
        -528
      ],
      "id": "42050d25-587d-4e25-a18b-98dfcc7b2baf",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "url": "={{ $json.data.outputs[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1248,
        -528
      ],
      "id": "408f6af2-3613-49c6-ab0b-ebfa2ce897e0",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ea98754-0f71-4f41-963e-a38dc3c5ccfb",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2144,
        24
      ],
      "id": "269e5c98-3496-48b9-be04-33f59b005fbc",
      "name": "Filter2"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1920,
        24
      ],
      "id": "c0d02b91-2278-4292-ada4-791d616210e1",
      "name": "Wait2",
      "webhookId": "0fb9be7f-5cd7-495f-8daf-6983ded95964"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d2ac574-1f2b-421b-8a91-63a5ff6eebed",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        -48
      ],
      "id": "4549c33d-dde3-4893-90bb-92cda3834a0c",
      "name": "If7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0259b943-3bbf-4655-9f60-3435028d77bf",
              "leftValue": "={{ $('Get Request2').item.json.data.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        120
      ],
      "id": "c8a0a795-dd63-45f3-875f-3952de7c5c0b",
      "name": "If8"
    },
    {
      "parameters": {
        "url": "={{ $json.data.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1696,
        -48
      ],
      "id": "6ea669b9-8f37-4b07-968a-3a0864e63ff3",
      "name": "Get Request2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/video2.mp4",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1024,
        -96
      ],
      "id": "fd009283-756a-442a-8d77-f6953d4b5f86",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "url": "={{ $json.data.outputs[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1248,
        -96
      ],
      "id": "3717e7a0-1643-4b77-b1c1-5a4419172df9",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -800,
        -344
      ],
      "id": "c5df1311-13c8-48d7-ac99-a2b6e9023df6",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ea98754-0f71-4f41-963e-a38dc3c5ccfb",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2144,
        456
      ],
      "id": "e84f870d-476c-4c47-b323-18d9d601f230",
      "name": "Filter3"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1920,
        456
      ],
      "id": "f2208b46-e4d7-429d-8180-90c59a2ddd03",
      "name": "Wait3",
      "webhookId": "0fb9be7f-5cd7-495f-8daf-6983ded95964"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d2ac574-1f2b-421b-8a91-63a5ff6eebed",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        384
      ],
      "id": "2fc5c09b-cea6-4eb8-b46c-be845471887a",
      "name": "If9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0259b943-3bbf-4655-9f60-3435028d77bf",
              "leftValue": "={{ $('Get Request3').item.json.data.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1248,
        552
      ],
      "id": "68688853-5d78-4deb-8c20-622b7a34cb3b",
      "name": "If10"
    },
    {
      "parameters": {
        "url": "={{ $json.data.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1696,
        384
      ],
      "id": "62440d75-4c9f-4eb7-841d-c9892680d821",
      "name": "Get Request3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/video3.mp4",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1024,
        336
      ],
      "id": "c3e6a079-0dba-4cb0-814e-3ad2feddcaa5",
      "name": "Read/Write Files from Disk4"
    },
    {
      "parameters": {
        "url": "={{ $json.data.outputs[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1248,
        336
      ],
      "id": "41d4859c-b180-46b2-b99d-8eb198acf15a",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ea98754-0f71-4f41-963e-a38dc3c5ccfb",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2368,
        1320
      ],
      "id": "ddf264e5-21b6-4020-b961-f061ea215153",
      "name": "Filter4"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2144,
        1320
      ],
      "id": "50e37d89-a747-41c0-9164-111bef8d3e54",
      "name": "Wait4",
      "webhookId": "0fb9be7f-5cd7-495f-8daf-6983ded95964"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d2ac574-1f2b-421b-8a91-63a5ff6eebed",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1696,
        1248
      ],
      "id": "bce90717-60ac-4734-8e8c-bc1bcf8f4c17",
      "name": "If11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0259b943-3bbf-4655-9f60-3435028d77bf",
              "leftValue": "={{ $('Get Request4').item.json.data.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        1416
      ],
      "id": "eddca35a-235d-48b0-ad45-ef10259a5e68",
      "name": "If12"
    },
    {
      "parameters": {
        "url": "={{ $json.data.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1920,
        1248
      ],
      "id": "fde64fec-b9bc-467b-bccb-9cb7ac221ebc",
      "name": "Get Request4",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/video1.mp4",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1248,
        1200
      ],
      "id": "79217d90-29b5-4cad-a552-1f49986f28d8",
      "name": "Read/Write Files from Disk5"
    },
    {
      "parameters": {
        "url": "={{ $json.data.outputs[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1472,
        1200
      ],
      "id": "fdd85122-84ed-4999-8e79-7eb7a45f88b9",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ea98754-0f71-4f41-963e-a38dc3c5ccfb",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2368,
        888
      ],
      "id": "da0c542f-9e7a-40a2-82be-72c20fed13d3",
      "name": "Filter5"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2144,
        888
      ],
      "id": "c9af4ca2-394a-43f9-95b2-285da26ea41c",
      "name": "Wait5",
      "webhookId": "0fb9be7f-5cd7-495f-8daf-6983ded95964"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d2ac574-1f2b-421b-8a91-63a5ff6eebed",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1696,
        816
      ],
      "id": "8ba13764-273e-4b95-a91c-b56a6411e39d",
      "name": "If13"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0259b943-3bbf-4655-9f60-3435028d77bf",
              "leftValue": "={{ $('Get Request5').item.json.data.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        984
      ],
      "id": "ff93a333-3128-4e64-94f9-641ffb996d29",
      "name": "If14"
    },
    {
      "parameters": {
        "url": "={{ $json.data.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1920,
        816
      ],
      "id": "3bbd8efc-9228-45e3-bedf-3d736beb498b",
      "name": "Get Request5",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/video0.mp4",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1248,
        768
      ],
      "id": "943c2463-b884-401c-8b17-625cd4c21a08",
      "name": "Read/Write Files from Disk6"
    },
    {
      "parameters": {
        "url": "={{ $json.data.outputs[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1472,
        768
      ],
      "id": "892831ce-ea7a-4fc2-b7fa-4995fb8b1cdb",
      "name": "HTTP Request6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -576,
        552
      ],
      "id": "19f9f8ae-8bcc-499a-a997-09a32205a90a",
      "name": "Merge2"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1024,
        1384
      ],
      "id": "5e229283-2c7e-43b1-8453-954b1b6334f9",
      "name": "Merge3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ea98754-0f71-4f41-963e-a38dc3c5ccfb",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2368,
        1752
      ],
      "id": "4e8c1e79-0708-4304-8703-b130b3a8828a",
      "name": "Filter6"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2144,
        1752
      ],
      "id": "6c936449-2950-4cb3-8319-8ce7a74af263",
      "name": "Wait6",
      "webhookId": "0fb9be7f-5cd7-495f-8daf-6983ded95964"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d2ac574-1f2b-421b-8a91-63a5ff6eebed",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1696,
        1680
      ],
      "id": "3545f850-a499-4e2d-abff-a999c15d89eb",
      "name": "If15"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0259b943-3bbf-4655-9f60-3435028d77bf",
              "leftValue": "={{ $('Get Request6').item.json.data.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        1848
      ],
      "id": "b268062c-e4c4-46df-924d-31eb665cbde9",
      "name": "If16"
    },
    {
      "parameters": {
        "url": "={{ $json.data.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1920,
        1680
      ],
      "id": "8cbff444-af56-462c-b750-4bb29f99c77b",
      "name": "Get Request6",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/video2.mp4",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1248,
        1632
      ],
      "id": "a40d15ed-f3cc-4739-a3e5-9c646ab5dc3b",
      "name": "Read/Write Files from Disk7"
    },
    {
      "parameters": {
        "url": "={{ $json.data.outputs[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1472,
        1632
      ],
      "id": "c772019b-1f42-4804-bf25-90d7dc57f751",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ea98754-0f71-4f41-963e-a38dc3c5ccfb",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2368,
        2184
      ],
      "id": "d9be6828-c636-44c4-832f-858f8a8b2b64",
      "name": "Filter7"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2144,
        2184
      ],
      "id": "d29a721b-c9e6-47e1-9229-83cd936f16ac",
      "name": "Wait7",
      "webhookId": "0fb9be7f-5cd7-495f-8daf-6983ded95964"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d2ac574-1f2b-421b-8a91-63a5ff6eebed",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1696,
        2112
      ],
      "id": "86953496-f166-4bcb-8a12-18c8011c985d",
      "name": "If17"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0259b943-3bbf-4655-9f60-3435028d77bf",
              "leftValue": "={{ $('Get Request7').item.json.data.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1472,
        2280
      ],
      "id": "e35d8009-f9df-4e2a-9846-dbd2d3412e87",
      "name": "If18"
    },
    {
      "parameters": {
        "url": "={{ $json.data.urls.get }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY_HERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1920,
        2112
      ],
      "id": "d6ce3762-2901-4f3f-986f-d3bd2d33ae4e",
      "name": "Get Request7",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/video3.mp4",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1248,
        2064
      ],
      "id": "5f98a7fe-ea8b-49ad-bea0-3dd6a9be32d2",
      "name": "Read/Write Files from Disk8"
    },
    {
      "parameters": {
        "url": "={{ $json.data.outputs[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1472,
        2064
      ],
      "id": "b581e404-6d76-48b6-8788-31e82d2de28a",
      "name": "HTTP Request8"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "AI Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "SORA POST2",
            "type": "main",
            "index": 0
          },
          {
            "node": "SORA POST",
            "type": "main",
            "index": 0
          },
          {
            "node": "SORA POST3",
            "type": "main",
            "index": 0
          },
          {
            "node": "SORA POST4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SORA POST1",
            "type": "main",
            "index": 0
          },
          {
            "node": "SORA POST5",
            "type": "main",
            "index": 0
          },
          {
            "node": "SORA POST6",
            "type": "main",
            "index": 0
          },
          {
            "node": "SORA POST7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SORA POST2": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Transform": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SORA POST1": {
      "main": [
        [
          {
            "node": "Filter4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SORA POST": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SORA POST4": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SORA POST3": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SORA POST5": {
      "main": [
        [
          {
            "node": "Filter5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SORA POST6": {
      "main": [
        [
          {
            "node": "Filter6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SORA POST7": {
      "main": [
        [
          {
            "node": "Filter7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Send Videos to Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Videos to Telegram1": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request2": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Get Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request3": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Filter4": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Get Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request4": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter5": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Get Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If14": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request5": {
      "main": [
        [
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk5": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk6": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter6": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Get Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If15": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If16": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request6": {
      "main": [
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk7": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Filter7": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Get Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If17": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If18": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Request7": {
      "main": [
        [
          {
            "node": "If17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk8": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "74d261a0-6106-4b34-97db-629ce19987e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11c64ffac50c3b36abde31b3c3f123567c4174522e89909b874ebc9bf30b7df2"
  },
  "id": "cymdZKJ1HhjRxgZA",
  "tags": []
}